.calendar-sidebar {
    border-left: 3px solid #C4C4C4;
    padding-left: 22px;
    padding-top: 3px;
    background-color: #fafafa;
}
.menu-btn {
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #F5F5F5;
    text-align: center;
    text-transform: uppercase;
}
.create-btn {
    color: #fff;
    font-weight: 900;
    line-height: 50px;
    font-size: 12px;
}
