.btn  {
    position:relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    padding: 3px;
    height: 100%;
    width: 100%;
    border: none;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    outline: none;
    max-height: 36px;
    max-width: 255px;
    border: none !important;
    outline: none !important;
}
.btn:focus,
.btn:active {
    outline: none !important;
}
.btn:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-right: 2px solid #D8D8D8;
    border-bottom: 2px solid #D8D8D8;
    transform: rotate(45deg);
    top: 10px;
    left: 220px;
    z-index: 1;
}
.check {
    margin-right: 22px;
    width: 30px;
    height: 20px;
}
.btn:hover {
    color: #B3B3B3;
}
.btn.active {
    color: #B3B3B3;
}
.sub {
    background-color: #fafafa;
    border-radius: 0;
}
hr {
    display: block;
    width: 100%;
    height: 2px;
    border: 0;
    margin-bottom: 40px;
    background-color: #DADADA;
}
.color {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F5F5F5;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.54);
    border-radius: 6px;
    width: 256px;
    text-align: center;
}
.color__picker__item {
    position: relative;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 7px;
}
.color__picker__item:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    background-color: transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    top: 6px;
    left: 9px;
    z-index: 1;
}
.color__picker__item.active:after {
    opacity: 0;
}
.color__picker__item:hover {
    cursor: pointer;
}
.color1 {
    background-color: #fcfcfc;
}
.color2 {
    background-color: #f3c81e;
}
.color3 {
    background-color: #0c4af3;
}
.color4 {
    background-color: #ed5d15;
}
.color5 {
    background-color: #70af31;
}
.color6 {
    background-color: #0785bd;
}
.color7 {
    background-color: #c91880;
}
.color8 {
    background-color: #8341ac;
}
.color9 {
    background-color: #4ac4a6;
}
.color10 {
    background-color: #9d6b47;
}
.color11 {
    background-color: #f6ecc9;
}
.color12 {
    background-color: #ed9963;
}
