.calendar-day {
    width: 100%;
    max-width: 800px;
}
.day-header {
    height: 30px;
    display: flex;
}
.day-header span, .hour-block span{
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    margin-left: 20px;
}
.day-time-header {
    width: 100%;
    max-width: 65px;
    border-right: 3px solid #F5F5F5;
    border-bottom: 3px solid #F5F5F5;
    color: #B3B3B3;
}
.day-event-header {
    width: 100%;
    max-width: 735px;
    background-color: #FAFAFA;
    border-bottom: 3px solid #F5F5F5;
    color: #808080;
}
.hour-block {
    height: 60px;
    display: flex;
}
.day-event {
    border-left: 2px solid;
    font-weight: bold;
    font-size: 12px;
    padding-left: 5px;
}
.empty-day {
    border-bottom: 2px solid #F5F5F5;
}
.day-birthdays {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}
.day-birthdays span {
    font-size: 12px;
    line-height: 30px;
}
.birthday-name {
    text-transform: uppercase;
    font-weight: bold;
}
.day-holiday {
    padding: 5px;
    margin: 15px 0;
    border-radius: 4px;
    font-size: 20px;
}
.no-day-events {
    margin: 15px 0;
    color: #B3B3B3;
}
.table-day {
    width: 800px;
}
.day-time {
    width: 62px;
    height: 60px;
    color: #B3B3B3;
}
.table-day tr{
    max-height: 60px;
    border-bottom: 2px solid #F5F5F5;
}

