.calendar-day {
    width: 100%;
    max-width: 735px;
}
.day-header {
    height: 30px;
    display: flex;
}
.day-header span, .hour-block span{
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    margin-left: 20px;
}
.day-time-header {
    width: 100%;
    max-width: 65px;
    border-right: 3px solid #F5F5F5;
    border-bottom: 3px solid #F5F5F5;
    color: #B3B3B3;
}
.day-event-header {
    width: 100%;
    max-width: 665px;
    background-color: #FAFAFA;
    border-bottom: 3px solid #F5F5F5;
    color: #808080;
}
.hour-block {
    height: 60px;
    display: flex;
}
.day-time {
    width: 100%;
    max-width: 65px;
    border-right: 3px solid #F5F5F5;
    color: #B3B3B3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.day-events {
    width: 100%;
    max-width: 665px;
    display: flex;
    border-bottom: 2px solid #F5F5F5;;
}
.day-event {
    width: 100%;
    background: #E0F7D7;
    border-left: 2px solid #63DA38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #008947;
    font-weight: bold;
}
