table {
    width: 100%;
    border-left: 2px solid #F5F5F5;
}
table tr td {
    width: 100%;
}
.calendar-week {
    width: 100%;
    max-width: 1100px;
    text-align: center;
    display: flex;
}
.week-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60px;
}
.week-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150px;
}
.week-header {
    min-height: 178px;
}
.week-time-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #F5F5F5;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #808080;
}
.week-event-header {
    border-left: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 90px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B3B3B3;
}
.hour-block {
    min-height: 60px;
}
.week-time {
    font-size: 12px;
    color: #B3B3B3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.week-events {
    display: flex;
    //border-left: 2px solid #F5F5F5;
    //border-bottom: 2px solid #F5F5F5;;
}
.event-block{
    display: flex;
    background: #E0F7D7;
    border-left: 2px solid #63DA38;
    color: #008947;
    font-weight: bold;
}
.event{

    display: block;
    font-size: 10px;
    line-height: 22px;

}
